<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>游戏大厅 - 大神游戏</title>
	<meta name="keywords" content="大神游戏,大神手游">
	<meta name="description" content="大神游戏,大神手游平台">
	<link rel="stylesheet" href="__STATIC__/css/wap/init.css">
	<link rel="stylesheet" href="__STATIC__/css/wap/shouyou.css">
	<link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
	<!--<link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="__STATIC__/icon/sy-icon/iconfont.css">
</head>
<body>
<div id="container">
	{include file="publics/header" /}
	<ul id="i-tabs" class="clearfix">
		<li class="on">推荐</li>
		<li>分类</li>
		<li>排行</li>
	</ul>
	<ul id="content">
		<li id="tui" style="display:block;">
			<div class="swiper-container top-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
					<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
					<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
					<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="search-domain">
				<form action="">
					<img src="__STATIC__/images/wap/gcenter/search-icon.png" alt="">
					<input class="inp-text" type="text" placeholder="请输入您想要找的游戏名称">
					<input class="search-btn" type="button" value="搜索">
				</form>
			</div>
			<p class="common-title"><i class="iconfont icon-fire"></i>热门游戏</p>
			<div id="game-list" class="game-list-common">
				<ul id="filter-bar">
					<li class="active"><a href="#A1">A</a></li>
					<li><a href="#B1">B</a></li>
					<li><a href="#C1">C</a></li>
					<li><a href="#D1">D</a></li>
					<li><a href="">E</a></li>
					<li><a href="">F</a></li>
					<li><a href="">G</a></li>
					<li><a href="">H</a></li>
					<li><a href="">I</a></li>
					<li><a href="">J</a></li>
					<li><a href="">K</a></li>
					<li><a href="">L</a></li>
					<li><a href="">M</a></li>
					<li><a href="">N</a></li>
					<li><a href="">O</a></li>
					<li><a href="">P</a></li>
					<li><a href="">Q</a></li>
					<li><a href="">R</a></li>
					<li><a href="">S</a></li>
					<li><a href="">T</a></li>
					<li><a href="">U</a></li>
					<li><a href="">V</a></li>
					<li><a href="">W</a></li>
					<li><a href="">X</a></li>
					<li><a href="">Y</a></li>
					<li><a href="">Z</a></li>
				</ul>
				<ul class="hot-gList">
					<li>
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
				<div class="all-game">
					<h4 id="A1">A</h4>
					<ul>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">长生诀</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">长生诀</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
					</ul>
					<h4 id="B1">B</h4>
					<ul>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　2万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
					</ul>
					<h4 id="C1">C</h4>
					<ul>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　2万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">永恒纪元：戒</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
					</ul>
					<h4 id="D1">D</h4>
					<ul>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">长生诀</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　2万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">长生诀</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
						<li>
							<a class="enter-detail" href="">
								<div class="g-logo">
									<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								</div>
								<div class="desc">
									<p class="title">长生诀</p>
									<p class="icon">
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="active iconfont icon-star"></i>
										<i class="iconfont icon-star"></i>
									</p>
									<p class="num">942.4M　1万次下载</p>
									<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
								</div>
							</a>
							<a class="download-btn" href="http://www.jd.com">下载</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li style="display:none" id="category">
			<div class="search-domain">
				<form action="">
					<img src="__STATIC__/images/wap/gcenter/search-icon.png" alt="">
					<input class="inp-text" type="text" placeholder="请输入您想要找的游戏名称">
					<input class="search-btn" type="button" value="搜索">
				</form>
			</div>
			<ul class="c-tabs">
				<li class="on">角色</li>
				<li>卡牌</li>
				<li>战争</li>
				<li>动作</li>
				<li>益智</li>
			</ul>
			<div class="game-list-common">
				<!-- 角色 -->
				<ul style="display:block;">
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">角色</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">角色</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">角色</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">角色</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">角色</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
				<!-- 卡牌 -->
				<ul>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">卡牌</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">卡牌</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">卡牌</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">卡牌</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">卡牌</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">卡牌</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
				<!-- 战争 -->
				<ul>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">战争</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">战争</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">战争</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">战争</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">战争</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">战争</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
				<!-- 动作 -->
				<ul>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">动作</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">动作</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">动作</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">动作</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">动作</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">动作</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
				<!-- 益智 -->
				<ul>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
			</div>
		</li>
		<li style="display:none;" id="rank">
			<div class="search-domain">
				<form action="">
					<img src="__STATIC__/images/wap/gcenter/search-icon.png" alt="">
					<input class="inp-text" type="text" placeholder="请输入您想要找的游戏名称">
					<input class="search-btn" type="button" value="搜索">
				</form>
			</div>
			<div class="hotRank">
				<img class="bg" src="__STATIC__/images/wap/gcenter/rank201712.jpg" alt="">
				<p>游戏星榜</p>
				<p>12月3日更新</p>
				<!-- 第一名 -->
				<div class="first">
					<img src="__STATIC__/images/wap/gcenter/first.png" alt="">
					<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
					<p class="tit">大话西游</p>
					<p>1.5亿人下载</p>
					<a href="">下载</a>
				</div>
				<!-- 第二名 -->
				<div class="second">
					<img src="__STATIC__/images/wap/gcenter/second.png" alt="">
					<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
					<p class="tit">大话西游</p>
					<p>1.5亿人下载</p>
					<a href="">下载</a>
				</div>
				<!-- 第三名 -->
				<div class="third">
					<img src="__STATIC__/images/wap/gcenter/third.png" alt="">
					<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
					<p class="tit">大话西游</p>
					<p>1.5亿人下载</p>
					<a href="">下载</a>
				</div>
			</div>
			<div class="game-list-common">
				<ul>
				<li>
					<i>4</i>
					<a class="enter-detail" href="">
						<div class="g-logo">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
						</div>
						<div class="desc">
							<p class="title">益智</p>
							<p class="icon">
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
							</p>
							<p class="num">942.4M　1万次下载</p>
							<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
						</div>
						<p class="download-btn">下载</p>
					</a>
				</li>
				<li>
					<i>5</i>
					<a class="enter-detail" href="">
						<div class="g-logo">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
						</div>
						<div class="desc">
							<p class="title">益智</p>
							<p class="icon">
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
							</p>
							<p class="num">942.4M　1万次下载</p>
							<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
						</div>
						<p class="download-btn">下载</p>
					</a>
				</li>
				<li>
					<i>6</i>
					<a class="enter-detail" href="">
						<div class="g-logo">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
						</div>
						<div class="desc">
							<p class="title">益智</p>
							<p class="icon">
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
							</p>
							<p class="num">942.4M　1万次下载</p>
							<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
						</div>
						<p class="download-btn">下载</p>
					</a>
				</li>
				<li>
					<i>7</i>
					<a class="enter-detail" href="">
						<div class="g-logo">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
						</div>
						<div class="desc">
							<p class="title">长生诀</p>
							<p class="icon">
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
							</p>
							<p class="num">942.4M　1万次下载</p>
							<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
						</div>
						<p class="download-btn">下载</p>
					</a>
				</li>
				<li>
					<i>8</i>
					<a class="enter-detail" href="">
						<div class="g-logo">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
						</div>
						<div class="desc">
							<p class="title">长生诀</p>
							<p class="icon">
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
							</p>
							<p class="num">942.4M　1万次下载</p>
							<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
						</div>
						<p class="download-btn">下载</p>
					</a>
				</li>
				<li>
					<i>9</i>
					<a class="enter-detail" href="">
						<div class="g-logo">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
						</div>
						<div class="desc">
							<p class="title">长生诀</p>
							<p class="icon">
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="active iconfont icon-star"></i>
								<i class="iconfont icon-star"></i>
							</p>
							<p class="num">942.4M　2万次下载</p>
							<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
						</div>
						<p class="download-btn">下载</p>
					</a>
				</li>
			</ul>
			</div>
		</li>
	</ul>
	{include file="publics/footer" /}
</div>
<script src="__STATIC__/js/wap/mb.init.js"></script>
<script src="__STATIC__/lib/jquery-2.0.0.min.js"></script>
<script src="__STATIC__/lib/swiper-3.4.2.jquery.min.js"></script>
<!--<script src="__STATIC__/lib/bootstrap.min.js"></script>-->
<script>
	// -- 滚动监听
	$(window).scroll(function () {
		var _top = $(window).scrollTop();
		if(_top > 600){
			$("#filter-bar").addClass("fixed-right");
		}else{
			$("#filter-bar").removeClass("fixed-right");
		}
	});
	// -- 字母排序点击
	var sortBtn = $("#filter-bar li a");
	sortBtn.click(function () {
		$(this).parent().addClass("active").siblings().removeClass("active");
	});
	// -- tabs
	var tabs = $("#i-tabs li");
		tabs.click(function () {
			var index = $(this).index();
			$(this).addClass("on").siblings().removeClass("on");
			$("#content>li").eq(index).fadeIn().siblings().hide();
		});
	// -- 分类选项卡
	var cTabs = $("#category .c-tabs li"),
		cCont = $("#category .game-list-common>ul");
		cTabs.click(function () {
			$(this).addClass("on").siblings().removeClass("on");
			cCont.eq($(this).index()).fadeIn().siblings().hide();
		});
	// -- banner
	var tuiBanner = new Swiper ('.top-swiper', {
		autoplay:3000,
		speed:1000,
		autoplayDisableOnInteraction : false,		// -- 用户操作后继续播放
		loop: true,
		
		// 分页器
		pagination: '.swiper-pagination',
		paginationClickable :true,
	})
</script>
</body>
</html>