<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏大厅-大神游戏</title>

    <link rel="stylesheet" href="__STATIC__/icon/pc-icon/font-icon/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__STATIC__/css/pc/game-detail.css">
</head>
<body>
{include file="public/top_line" /}

<!-- top_line start -->

<!--[if lt IE 10]>
<style>
    .serch-box{margin-top: 4px;}
</style>
<![endif]-->
{include file="public/header" /}
<!-- end top_line -->
<!-- header start -->

<!-- end header -->
<!--内容部分-->
<div class="gHome-content">
    <!--游戏大图-->
    <div class="game-banner" style="background:url(__STATIC__/images/pc/gcenter/game-detailimg.jpg) no-repeat center top;">
        <div class="mid">

           <div class="game-bagPro">
               <div class="left-game">
                   <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                   <div class="game-name">新官上任</div>
                   <div class="game-star">
                     <!--满星的class iconfont icon-star-full -->
                       <i class="iconfont icon-star-full"></i>
                       <i class="iconfont icon-star-full"></i>
                       <i class="iconfont icon-star-full"></i>
                       <!--半星的class iconfont icon-starhalf -->
                       <i class="iconfont icon-starhalf"></i>
                       <!--空星的class iconfont icon-star-empty -->
                       <i class="iconfont icon-star-empty"></i>
                   </div>
                   <div class="game-style">所属分类：<i>角色扮演</i></div>
                   <div class="game-Mb">游戏大小：<i>107.36M</i></div>
                   <div class="game-Mbstyle">操作系统：<i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></div>
                   <div class="game-system">版本：<i >2.11</i></div>
               </div>
               <div class="right-game clearfix">
                   <!--游戏下载-->
                   <div class="game-down float-l ">
                        <div class="tit dif"><span class="bt ">游戏下载</span></div>
                       <div class="down-pro clearfix">
                            <div class="game-code float-l"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                            <a class="game-andriod float-r">Android下载</a>
                            <a class="game-ios float-r">iOS下载</a>
                           <p class="float-l">扫描二维码下载游戏</p>
                       </div>
                   </div>
                   <!--游戏礼包-->
                   <div class="game-gift float-r ">
                       <div class="tit dif"><span class="bt ">游戏礼包</span></div>
                       <div class="gift-pro">
                            <div class="list clearfix">
                                <!--游戏ICON-->
                                <div class="img-box float-l"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                                <div class="gift-name float-l" >开服礼包</div>
                                <div class="game-name float-l">新官上任</div>
                                <a class="float-r" href="#">抢</a>
                            </div>
                           <div class="list clearfix">
                               <div class="img-box float-l"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                               <div class="gift-name float-l" >开服礼包</div>
                               <div class="game-name float-l">新官上任</div>
                               <a class="float-r" href="#">抢</a>
                           </div>
                           <div class="list clearfix">
                               <div class="img-box float-l"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                               <div class="gift-name float-l" >开服礼包</div>
                               <div class="game-name float-l">新官上任</div>
                               <a class="float-r" href="#">抢</a>
                           </div>
                           <div class="list clearfix">
                               <div class="img-box float-l"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                               <div class="gift-name float-l" >开服礼包</div>
                               <div class="game-name float-l">新官上任</div>
                               <a class="float-r" href="#">抢</a>
                           </div>
                       </div>
                   </div>
                   <!--游戏截图-->
                   <div class="game-pScreen float-l">
                       <div class="tit dif"><span class="bt ">游戏截图</span></div>
                       <div class="ScreenImg">
                           <div class="img-lunBo">
                               <div class="swiper-container" id="game-banner">
                                   <div class="swiper-wrapper">
                                       <!--游戏图片-->
                                       <div class="swiper-slide" style="background-image:url(__STATIC__/images/pc/gcenter/game-pScreembanner.jpg) "></div>
                                       <div class="swiper-slide" style="background-image:url(__STATIC__/images/pc/gcenter/game-pScreembanner1.jpg)"></div>
                                       <div class="swiper-slide" style="background-image:url(__STATIC__/images/pc/gcenter/game-pScreembanner.jpg)"></div>
                                       <div class="swiper-slide" style="background-image:url(__STATIC__/images/pc/gcenter/game-pScreembanner1.jpg)"></div>

                                   </div>
                                   <!-- 左右换页 -->

                               </div>
                               <div class="swiper-button-prev"></div>
                               <div class="swiper-button-next"></div>
                           </div>
                       </div>
                   </div>

                   <!--游戏简介-->
                   <div class="game-wordsPro float-l ">
                       <div class="tit dif"><span class="bt ">游戏介绍</span></div>
                       <div class="game-words">
                           《新官上任》是一款原创经营养成官斗手游，游戏内可娶妻纳妾、生孩养娃、家族结盟、联盟争霸、培养门客、玩家PK 、多人社交等精彩玩法。<br>
                           【宫廷画风，真实体验官爷日常】 视听玩全方位让您亲身感受一把韵味十足的古风生活。告别乏味的刷怪升级，来一场尔虞我诈的官场争斗！完善的官品晋升系统，体验封官进爵的快感！<br>
                           【美人坐怀，不爱江山唯爱卿】 一顾倾城的美人形象加上别具匠心的妻妾养成系统，你还有坐怀不乱的信心？快来下来这款好玩的手游吧！
                       </div>
                   </div>
               </div>
           </div>


            <div class=" leftAndRight">
                <!--热门手游 新闻资讯-->
                {include file="public/hot-game" /}
                <!--开服列表-->
                {include file="public/new-service" /}
            </div>
        </div>
    </div>
</div>
<!-- footer start -->
{include file="public/footer" /}
<!-- end footer -->

<script src="__STATIC__/lib/swiper-3.4.2.jquery.min.js"></script>
<script src="__STATIC__/js/pc/ghome.js"></script>
<script>
    $(function(){
        var mySwiper = new Swiper ('#game-banner', {
            slidesPerView:3,
            paginationClickable :true,
            spaceBetween:20,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
//            autoplayDisableOnInteraction:false,     // 用户操作后是否禁用autoplay
//            effect : 'coverflow',

//            // 如果需要分页器
//            pagination: '.swiper-pagination'

        })
    })
</script>
</body>
</html>