<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>游戏大厅-大神游戏</title>
	<link rel="stylesheet" href=" __STATIC__/css/pc/gcenter.css">

</head>
<body>

{include file="public/top_line" /}

{include file="public/header" /}
<!--内容部分-->
<div class="gRoom-content">
	<div class="mid">
		<!--手风琴Banner效果-->
		<div class="gRoom-banner">
			<ul class="banner-box">
				<li class="list active" style="background-image:url(__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner1-1.jpg);width: 740px">
					<img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner2-1.jpg" alt="">
				</li>
				<li class="list" style="background-image:url(__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner1-2.jpg);">
					<img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner2-2.jpg" alt="">
				</li>
				<li class="list" style="background-image:url(__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner1-3.jpg);">
					<img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner2-3.jpg" alt="">
				</li>
				<li class="list" style="background-image:url(__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner1-4.jpg);">
					<img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner2-4.jpg" alt="">
				</li>
				<li class="list" style="background-image:url(__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner1-5.jpg);">
					<img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoombanner2-5.jpg" alt="">
				</li>
			</ul>
		</div>
		<!--选择游戏-->
		<div class="choice-games">
			<div class="choice-left choice-box">
				<div class="tit"><span>游戏类型</span></div>
				<ul  class="game-box">
					<li class="game-type active"><span>不限</span></li>
					<li class="game-type"><span>角色</span></li>
					<li class="game-type"><span>动作</span></li>
					<li class="game-type"><span>回合</span></li>
					<li class="game-type"><span>射击</span></li>
					<li class="game-type"><span>单机</span></li>
					<li class="game-type"><span>大型</span></li>
					<li class="game-type"><span>休闲</span></li>
					<li class="game-type"><span>音乐</span></li>
					<li class="game-type"><span>策略</span></li>
					<li class="game-type"><span>养成</span></li>
					<li class="game-type"><span>MOBA</span></li>

				</ul>
			</div>
			<div class="choice-right choice-box">
				<div class="tit"><span>游戏题材</span></div>
				<ul  class="game-box">
					<li class="game-type active"><span>不限</span></li>
					<li class="game-type"><span>仙侠</span></li>
					<li class="game-type"><span>西游</span></li>
					<li class="game-type"><span>魔幻</span></li>
					<li class="game-type"><span>3D</span></li>
					<li class="game-type"><span>历史</span></li>
					<li class="game-type"><span>男生</span></li>
					<li class="game-type"><span>女生</span></li>
					<li class="game-type"><span>三国</span></li>
					<li class="game-type"><span>丧尸</span></li>
					<li class="game-type"><span>战争</span></li>
					<li class="game-type"><span>战舰</span></li>
					<li class="game-type"><span>二次元</span></li>
					<li class="game-type"><span>和风</span></li>
					<li class="game-type"><span>二战</span></li>
					<li class="game-type"><span>宫斗</span></li>

				</ul>
			</div>
		</div>
		<!--全部游戏-->
		<div class="all-game">
			<div class="tit"><span>全部游戏</span></div>
			<ul class="game-box">
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/1509007703659-1.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>476M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">竞技</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">最强NBA</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/zuiqiangnba.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/最强NBA.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/最强NBA.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：竞技</p>
						</div>

					</div>
					<div class="hover2">
						《最强NBA》是第一款获得NBA正版授权的PVP竞技动作操作类篮球手游，
						内有豪华NBA球星阵容，真实细腻画面和热血实况对战场景，是所有篮球迷的必玩大作！游戏内高度还原NBA球星面貌，
						并拥有超过700位NBA现役球员及超过30位NBA名人堂传奇球星竞技数据，参考真实球员能力数值，打造独特专属的技能系统。
					</div>

				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/1511751258660-2.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>365M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">动作</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">灼眼的夏娜</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/zuoyandexiana.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/灼眼的夏娜.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/灼眼的夏娜.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：动作</p>
						</div>

					</div>
					<div class="hover2">
						《灼眼的夏娜》手游是一款忠于原著的ARPG动作类3D手游，有着融入性的探索关卡，可以随意切换角色战斗，与原有IP相同的宝具和经典角色。
						游戏保留纯正的二次元美术风格和表现力，场景采用全3D建模搭建，按照原作风格进行渲染，游戏角色也以3D建模样式出现，还有必杀特效，
						2D立绘表情。 战斗以爽快的连击为主，随意自由，并且引入蓄力破防，浮空攻击等技能体系，操作舒适。副本闯关模式重温剧情，展现情怀，并切引入培养系统，宝具和协力者的配合，让每个人的夏娜都是独一无二的，带有自己的特色。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/1510823181100-3.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>561M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">射击</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">终结者2：审判日</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/zongjiezhe2.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/终结者2：审判日.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/终结者2：审判日.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：射击</p>
						</div>

					</div>
					<div class="hover2">
						百万人同服！单局最高120人开黑！3D高清画质大世界，多元地形丰富场景，
						超震撼战场，快节奏枪战竞技体验；伏地硬刚听声辩位，紧张刺激血脉喷张！载具狂飙激情碰撞，与毒圈上演生死时速！百变装备自由搭配，尽显独门策略战术！《终结者2：审判日》将带给你极致的快节奏枪战竞技体验！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/4.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>948M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">永远的7日之都</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/yongyuande7rizhidu.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/永远的7日之都.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/永远的7日之都.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						《永远的7日之都》是一款由网易研发的泛二次元角色扮演游戏。融合AVG文字冒险与RPG传统格斗玩法。 剧情标新立异，主线/支线自由发展。游戏世界每7日轮回，你可以发展城镇、积攒资源、
						与小姐姐培养好感度。多英雄操作，即时战斗策略丰富。不同抉择带来不同剧情，每位玩家都将获得不一样的体验，快来攻略你喜欢的小姐姐！川井宪次监制音乐，日本知名声优献声。钉宫理惠、花泽香菜、崛江由衣，带给你身临其境的二次元体验。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/5.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>320M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">妖精的尾巴最强公会</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/yanjingdeweiba.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/妖精的尾巴最强公会.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/妖精的尾巴最强公会.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						讲谈社正版授权手游，《妖精的尾巴-最强公会》正式起航！热血魔法激斗全面展开，马上进入“阿斯兰特”，向成为最强魔导士进发吧！
						组建你的公会，纳兹、露西、艾露莎等待你的邀请，与伙伴们一起亲历传奇诞生！接受五花八门的委托，消灭妖怪、助人为乐，体会最热闹快乐的公会生活。掌控魔法，参战大魔斗演武，与伙伴们一起热血战斗，告诉世界谁才是第一！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/6.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>184M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">策略</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">悬空城</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/xuankongcheng.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/悬空城.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/悬空城.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：策略</p>
						</div>

					</div>
					<div class="hover2">
						大家好，我是王雪花，是《悬空城》这部“神作”的女主角。赵山河是开发老大的名字，被他无耻的用到了游戏中，还强行与我组CP穿越到我的脑洞世界。本来可以老老实实做一个建造城池，攻城掠地的策略手游，非要搞创新把200多个各时空的大佬加进来做成策略+卡牌，
						万万没想到这个谐星真把游戏做成了！不跟你啰嗦了，老娘去攻城了。 穿越异次元，策略手游 逗比剧情超搞笑 配音惊呆小伙伴 空中视界大乱斗 我的领地我做主 跨时空英雄套路多，谁帅谁先冲 攻城堡 抢资源 一言不合就开战
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/7.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>415M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">卡牌</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">星际裂痕</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/xinjilieheng.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/星际裂痕.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/星际裂痕.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：卡牌</p>
						</div>

					</div>
					<div class="hover2">
						《星际裂痕》是首款国人原创机甲风格卡牌ARPG手游。全3D无锁定视角战斗，数十台风格、属性各异的狂野机甲，
						多种技能随时发动割草碎屏攻击；多种强化路线，打造最强机甲兵团；跨服扮演BOSS，与真人玩家1V5实时匹配对战；星际争霸、抢夺资源，与宿敌玩家在战斗中共同成长；丰富的军团协作内容，与队友猎杀小怪、围剿BOSS登顶星际霸主！
					</div>
				</li>
				<!--8-17-->
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/8.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>706M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">射击</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">小米枪战</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/xiaomiqiangzhan.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/小米枪战.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/小米枪战.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：射击</p>
						</div>

					</div>
					<div class="hover2">
						《小米枪战》是一款由虚幻4引擎打造的射击手游。极致的视觉效果，全动态光源、实时阴影，完美还原现实世界的感官体验。 核心玩法“实战训练”更能让玩家体验一场惊心动魄的军事演习。
						所有道具必须在岛上获取，跳伞、载具、机瞄、空投、甚至轰炸区，一切都为了让演习更接近实战环境。想不被淘汰，就需要较高的战术素养和精湛的枪法。 研发团队十分注重游戏的核心射击体验，在操作方式、击打反馈和手感上不断优化，
						希望给玩家们带来极致的操作体验。 《小米枪战》还有众多经典玩法：团队复生、爆破模式、生化模式、躲猫猫模式等，轻松愉快体验射击游戏的乐趣。更有多种常规赛、天梯赛、锦标赛，让玩家能够随时参赛，全民参与电竞盛世。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/9.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>510M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">MOBA</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">小米超神</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/xiaomichaoshen.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/小米超神.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/小米超神.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：MOBA</p>
						</div>

					</div>
					<div class="hover2">
						小米首款公平竞技MOBA手游，打造指尖上的重度经典MOBA。
						游戏以丰富的东方传奇英雄及5v5竞技对战玩法为主，在重现PC端MOBA的细腻游戏体验的基础上，
						提供了符合手机端用户习惯的操作机制，轻松上手的同时，更将华丽微操和出色意识在移动端完美诠释，尽显竞技的魅力与真谛。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/10.png" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>144M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">竞技</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">万王之神</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/wanwangzhishen.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/万王之神.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/万王之神.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：竞技</p>
						</div>

					</div>
					<div class="hover2">
						《万王之神》是一款3DMMOARPG欧美系即时战斗手游，真人交互、跨服国战、BOSS争夺， 全地图组团PK爆神装，点爆战火！！！3D全境大地图，真实还原唯美、壮阔的魔法玄幻世界场景，
						超爽格斗系统，酷炫的特效，超大范围攻击技，千军万马，一人可敌之。 华丽时装、炫彩神翼、霸气坐骑、专属神宠，展现强大的战斗力：
						打造神兵，攻无不克，觉醒圣戒，战无不胜。开服七天好礼相送，史 诗神格助成长；在线奖励天天有，各式好礼拿不停； 喜得成就获称号，光彩炫目涨战力;每日签到送礼包，战力蹭蹭往上升。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/11.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>298M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">冒险</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">吞天记</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/tuntianji.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/吞天记.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/吞天记.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：冒险</p>
						</div>

					</div>
					<div class="hover2">
						《吞天记》是由作者“风青阳”正版授权，百人团队历时两年，精心打造的3DMMO唯美冒险手游。
						游戏360度全视角4K超清画质。游戏100%还原小说，玩家将扮演主角，并与TA的小伙伴，历练一场生与死的冒险和挑战。游戏中炫酷飞行坐骑，
						超强的战斗打击感，华丽的技能表现，更有机会结识红颜知己，一起浪漫天涯。大千世界，吾名吞天，值得一战！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/12.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>175M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">唐门六道</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/tangmenliudao.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/唐门六道.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/唐门六道.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						《唐门六道》是一款官方授权的玄幻武侠风手游，游戏与同名小说剧情同步，
						势必打造一个原汁原味的“唐门世界”；游戏内六道职业各显特色，各式系统华丽独特，每日活动精彩绝伦；战灵傀儡助力六道，神翼圣兽守护唐门；自由PK跨服乱斗决天骄，挑战领主精品装备无限掉落。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/13.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>167M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">蜀门手游</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/shumenshouyou.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/蜀门手游.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/蜀门手游.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						还记得端游蜀门、醉逍遥吗？原汁原味、高度还原的《蜀门手游》赶紧来体验吧！似曾相识的场景、耳熟能详的音乐伴你重返经典蜀门，寻回旧日情怀。2017不得不玩的玄幻仙侠手游大作！《蜀门手游》荣获阿里游戏最受期待手游等多项大奖！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/14.png" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>100M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">青云诀</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/qingyunjue.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/青云诀.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/青云诀.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						一剑斩红尘，携手踏三界！修仙、御剑、结仙缘。精致的战斗画面、华丽的技能特 效、唯美的主线剧情，给您带来最完美的视觉盛宴，绝世神兵、萌宠坐骑、神兽觉 醒等众多特色，
						不管你想要感受酣畅淋漓的战斗，还是体验真实的修仙生活，《青 云诀》满足你全部的想象，带你进入一个不一样的仙侠世界。 游戏特色： ——修仙论道，知识运气完美结合 智与智的碰撞，
						当心被踢飞哟 ——跨服对决，超多玩法拒绝单调 单挑群殴应有尽有，随时随手秀操作 ——神兽觉醒，助战激活强大属性 攻守兼备，九州四海伴你闯 ——天降红包，元宝拿到手软 天天有惊喜，红包抢不停 ——六转变身，
						战力爆发秒杀BOSS 全新形象，颜值与实力并存 ——离线挂机，轻松享受游戏时刻 解放双手，没空玩等级也不会被落下 ——自由交易，买卖道具自主定价 神装秘宝任性定价，一夜暴富不是梦、
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/15.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>294M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">卡牌</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">啪啪三国2</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/papasanguo.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/啪啪三国2.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/啪啪三国2.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：卡牌</p>
						</div>

					</div>
					<div class="hover2">
						3D战争策略卡牌手游《啪啪三国2》，以丰富多变的战斗体验、知名画师制作的超精美卡牌、大师级的画面表现以及极富策略性的玩法带领玩家重回三国时代，
						披甲上阵征战天下！《啪啪三国2》在着重强调策略性战斗的同时代入了原创剧情RPG的设定，救驾末代皇帝，从此挟天子，令诸侯！不论乱世奸雄曹操，
						还是江东猛虎孙权，又或汉皇后裔刘备，皆可为你所用！帅帐点兵，排兵布阵，驰骋疆场！创新的封地系统玩法，华夏大地任你征服，手指一点，群雄割地称王，弹指间，
						樯虏灰飞烟灭！《啪啪三国2》卷土重来，必将再度掀起腥风血雨！百万雄师会猎于《啪啪三国2》，且看天下群雄逐鹿，谁主沉浮？

					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/16.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>500M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">竞技</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">魔域手游</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/moyushouyou.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/魔域手游.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/魔域手游.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：竞技</p>
						</div>

					</div>
					<div class="hover2">
						《魔域手游》由网龙端游原班人马重铸，主打热血群殴，既保留了端游自由PK+幻兽养成等经典玩法，又升级了零门槛自由PK，
						还你最痛快的掌上激斗。经典式PK爆装备，全服装备、道具无限制自由买卖。超大地图的神魔战场，可承载千人同屏百团激战，摧城拔寨。百种新颖妖灵幻兽随心养成，千种坐骑+装备任性合铸，合体释放酷炫技能，助你远征亚特大陆！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/17.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>341M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">策略</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">剑与家园</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/jiayujiayuan.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/剑与家园.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/剑与家园.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：策略</p>
						</div>

					</div>
					<div class="hover2">
						《剑与家园》是莉莉丝游戏继《刀塔传奇》后第二款自研大作。在奇幻的诺尔大陆上，生存是唯一的挑战！你将与全球玩家进行实时策略对战，
						带领上百兵种，5大种族，20多位英雄，建造城邦，合纵连横，探索诺尔大陆，击杀邪恶首领！团结中国同胞，掠夺敌对阵营，成为至高无上的王。
						游戏特色 ● 与全球玩家同场竞技 500万海外玩家都在玩的中国手游。进入游戏，联合中国同胞，对抗外国玩家。合纵连横、移民叛国、间谍潜伏、竞选国王，丰富策略社交玩法。
						● 告别战报 真实战争体验 大地图探索，击杀BOSS获得珍贵财富和永久荣誉；还能与其他玩家实时战斗，既看发展，也拼操作；联合国人共同占城，扩张领土！
						● 独特3D画风 顶级CV配音 结合地形搭配真实画面音效，婆娑的热带雨林、冰雪封天的极地、壮观的沙漠尽收眼底；更有国内顶级配音演员山新、宝木中阳等陪你遨游世界。
						● 五大种族 探索奇幻大陆 汇集人类、巫妖、矮人、浣熊、妖精五大种族，数百兵种，共同探索奇幻诺尔大陆！纷乱世界、尔虞我诈，充斥整片大陆！
						● 招募英雄 建筑专属城池 超过20位唯美帅气英雄收集养成，每个英雄拥有独特的天赋技能。带领你的英雄，建造发达城池、训练军队、探索地图、攻城略地，续写史诗篇章！ 一句话介绍：全球实时策略对战
					</div>
				</li>
				<!--18-27-->
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/18.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>108M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">养成</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">极品芝麻官</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/jipinzhimaguan.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/极品芝麻官.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/极品芝麻官.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：养成</p>
						</div>

					</div>
					<div class="hover2">
						《极品芝麻官》是一款原创经营养成官斗手游，游戏以当官第一视觉生动呈现，娶妻纳妾、生孩养娃、家族结盟、联盟争霸、培养门客、玩家PK 、多人社交等精彩玩法。
						【原创剧情，超强代入感】 恭喜官老爷金榜题名，获皇上御赐从九品官位，接旨上任！官场云涌，派系林立，步入官场是做个安静低调的九品芝麻官，还是权倾朝野，坐享天下美人的一品摄政王？
						【宫廷画风，真实体验官爷日常】 《极品芝麻官》力求在视、听、玩全方位，把玩家从现实世界拉回古色古香的清廷世界，让您亲身感受一把韵味十足的古风生活。 【走马上任，玩转清廷明暗】
						九品芝麻官也有出头之日！完善的官品晋升系统，让你体验封官进爵的快感。大权在握，无出其右！ 【美人坐怀，不爱江山唯爱卿】 钱权皆有，怎能无佳人相伴？柳叶眉，杏核眼，樱桃小口，杨柳细腰赛笔管，说话燕语莺声，
						一顾倾城的美人形象加上别具匠心的妻妾养成系统，你还有坐怀不乱的信心？ 【历朝名士，助你权倾朝野】 告别枯燥乏味的刷怪升级，抛弃模式单一的经营玩法，来一场尔虞我诈的官场争斗！引人入胜的关卡剧情，斗智斗勇的玩家对抗，岂不快哉！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/19.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>104M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">竞技</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">火柴人联盟2</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/huochairen.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/火柴人联盟2.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/火柴人联盟2.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：竞技</p>
						</div>

					</div>
					<div class="hover2">
						《火柴人联盟2》是一款剪影画风格斗手游，横世出击成为2亿格斗玩家的首选。无限连击、秒杀大招、华丽技能特效，带你体验前所未有的畅快游戏体验。多种角色任意搭配，联机副本激情对撞，公平的竞技场PK，开启指尖华丽极致格斗新纪元。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/20.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>384M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">竞技</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">荒野行动</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/huangyexingdong.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/荒野行动.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/荒野行动.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：竞技</p>
						</div>

					</div>
					<div class="hover2">
						《荒野行动》，真正做到了容纳100人开局对战。超大地图超远视距，手机端精心设计多种操作模式，带给玩家畅快舒适的竞技体验！
						6400*6400超大世界，真正容纳100人开局！跋涉山峦旷野，探索城镇村郊！组队开黑，战术配合花样迭出；道具种类丰富，自由搭配，更有多种配件强力升级；针对手机端精心设计多种操作模式，提供极致竞技体验！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/21.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>102M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">欢乐修仙</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/kuailexiuxian.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/欢乐修仙.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/欢乐修仙.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						2017国漫匠心巨制《欢乐修仙》，对传统修仙小说的概念进行了再创造，脑洞大开的旅程、很接地气的仙人、东方幻想的场景构建出一个会呼吸的修仙世界，将曾经存在于文字、
						动漫里的想象变为真实可触摸的玩法。 采用最新游戏引擎打造，集闯关、养成、策略、奇遇、对战等多种玩法于一身。
						玩家将作为陷入末法大劫九州的拯救者，通过升仙测验的考核加入修仙名门逍遥剑宗，一路结实仙友，欢声笑语中修仙除妖，最终恢复九州修仙界和平与美好。还可通过招募和风韵犹存老板娘，老不正经女师傅，第一女厨阿依仙发生不可描述的羁绊！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/22.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>471M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">策略</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">汉王纷争</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/hanwangfenzheng.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/汉王纷争.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/汉王纷争.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：策略</p>
						</div>

					</div>
					<div class="hover2">
						《汉王纷争》是网易首款历史推演手游，将经典战争策略元素与超高自由度结合，
						为玩家呈现重策略、强交互、超高自由度的战争策略体验。玩家将亲历波澜壮阔的三国乱世，
						在风起云涌的年代纵横捭阖，将三国名将美人收至麾下，组建自己的不败雄师。最终荡平魏蜀吴，剑指司州，用武力、权谋征服天下！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/23.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>394M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">射击</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">光荣使命</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/guangrongshiming.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/光荣使命.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/光荣使命.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：射击</p>
						</div>

					</div>
					<div class="hover2">
						《光荣使命：使命行动》为腾讯代理发行的一款百人对抗竞技射击手游。游戏采用第三人称射击视角，
						在保留了原有射击类游戏的爽快乐趣前提下，在移动端带来了百人军事演习的创新体验，增加了玩家与玩家之间对抗竞技的乐趣。游戏拥有64平方公里的广阔地图，多场景多地貌多建筑的探索过程紧张刺激。
						丰富的枪械道具，载具等设定，使游戏体验充满惊喜与随机性。每一轮战斗，有100名演习者参与到游戏当中，演习者跳伞降落，选择自己理想的降落地点，收集虚拟战场上的资源，装备自己，对抗岛上的其他玩家，淘汰对手直到优胜。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/24.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>320M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">挂机（三国）</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/guajisanguo.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/挂机（三国）.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/挂机（三国）.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						点击击杀，一天飞升1000层 ==挂机即可玩转三国== 首款三国题材放置类RPG手游《挂机》，最好玩的挂机游戏,天天三国豪礼相送！
						《挂机》摒弃烦人枯燥的手动刷怪过程，带广大玩家朋友轻松挂机升级，全民欢乐萌萌哒三国.尽情体验等级自动快速爬升、神装道具自动掉落碗里来的丰厚收获乐趣，感受三国大乱斗的刺激火爆。在这个全新的挂机类手游中，每天您只需操作十分钟，就可以享受PK带来的快感、
						公会带来的荣耀、装备带来的喜悦。其首创的外挂系统能让您在脱机状态下也能获得脱机时间内的所有收益，把你真正从繁琐的游戏操作中解放出来，在轻松中获得满足。让您在繁忙的工作中轻松完成游戏任务，是一款居家旅行、生活必备的好游戏！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/25.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>194M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">角色</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">风云2</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/fengyun2.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/风云2.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/风云2.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">
						由马荣成知名漫画《风云》正版授权改编， 2017年MMOARPG武侠巨作《风云2》霸道来袭！重现港漫经典，
						完美继承港漫风格。作为一款MMOARPG移动端多人在线游戏，游戏的核心设计理念是做一款交互性极强、玩法经典、操作熟悉的即时战斗游戏。同时引入丰富的RPG元素和经典人物形象，
						增加游戏的代入感和熟悉度。呈现将优秀的画面表现与丰富交互玩法完美结合的游戏体验。 游戏中玩家化身为风云2的经典人物，手握神兵，生杀予夺，去体验原汁原味的风云世界，
						经历一个个的风云剧情及场景. 游戏实现电影级画面效果，唯美的光影实时场景，超酷炫的技能特效，让你在战斗之中畅快淋漓，更多丰富的游戏特色玩法，绝对让你欲“霸”不能！数十款强交互竞技活动掀起江湖腥风血雨，夺称号，抢boss，谁与争锋！

					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/26.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>1KB</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">H5</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">大天使之剑H5</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/datianshizhijianh5.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/大天使之剑H5.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/大天使之剑H5.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：H5</p>
						</div>

					</div>
					<div class="hover2">
						《大天使之剑H5》改编自经典页游《大天使之剑》，是一款ARPG的H5游戏，画面炫酷，富有打击感。在《大天使之剑H5》中， 华丽的装备和技能特效让人热血沸腾。
						场景建筑等背景特效非常逼真，画风上属于暗黑风格，光影特效也处理的非常好。 融入经典奇迹MU元素我们再大胆创新，新增SLG竞技场，城池战等等。新颖玩法的玩法让经典继续延续。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/27.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>169M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">策略</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">大秦之帝国崛起</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/daqinzhidiguojueqi.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/大秦之帝国崛起.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/大秦之帝国崛起.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：策略</p>
						</div>

					</div>
					<div class="hover2">
						《大秦之帝国崛起》是首款按照区域划分多阵营对抗的即时策略手游，群雄逐鹿的战国时期，军师兵法的谋略对垒，真正带你体验戎马一生的峥嵘岁月。
						玩家将会在战火纷飞的时代筑造城堡，训练骁勇善战的军队，培养一夫当关的无敌武将。在这里，你可以招贤纳士，带领你的无敌之师夺城池扩疆土，一统天下完成千秋霸业。游戏中，
						感受电影级次时代画质，为玩家营造出古代铁血战争的身临其境感。一览众山小，统领文武百官，成为荣耀世界的君王领袖，留存史册。丰富的武将供每位玩家合理选择，从而在兵荒马乱中脱颖而出，大杀四方与兄弟共享荣华富贵！
					</div>
				</li>
				<!--28-30-->
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/28.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>128M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">传奇</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">赤月龙城</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/chiyuelongcheng.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/赤月龙城.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/赤月龙城.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：角色</p>
						</div>

					</div>
					<div class="hover2">

						《赤月龙城》是一款大型多人在线手机游戏，提供多人娱乐、探索、社交功能。游戏画质精美，
						玩法多样，运行流畅，带给玩家各种酣畅淋漓的游戏体验和乐趣。通过简化操作、自动释放技能和创新的合击技玩法，
						使玩家体验到高质量的战斗和pk。丰富多样的装备，特效绚丽的技能，酣畅淋漓的战斗一定会让你有绝佳的体验。
						在《赤月龙城》的世界中与同伴尽情冒险，成就一个强者的成长之路。  在《赤月龙城》的世界中与同伴尽情冒险，成就一个强者的成长之路。
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/29.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>397M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">动作</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">暗黑血统2</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/anheixuetong2.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/暗黑血统2.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/暗黑血统2.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：动作</p>
						</div>

					</div>
					<div class="hover2">

						《暗黑血统2》是一款以神魔之战为题材的欧美风3D动作手机游戏。本作不仅拥有媲美主机游戏的超清画面，
						更强调十足的操作手感，旨在打造超重量级的动作手游表现。游戏还着重于角色和变身的培养、并以多人MOBA和PVP竞技为核心玩法，塑造出一个史诗剧情般的华彩世界！神魔之战，一触即发！
					</div>
				</li>
				<li class="game-pro">
					<div class="top">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/30.jpg" alt=""></div>
						<div class="words">
							<p class="phone-type"><span>版本：</span><i class="iconfont icon-anzhuo"></i><i class="iconfont icon-pingguo"></i></p>
							<p class="game-kb"><span>大小：</span><i>254M</i></p>
							<p class="game-type"><span>类型：</span><i class="words-blue">竞技</i></p>
						</div>
					</div>
					<div class="bottom">
						<p class="game-name">NBA LIVE</p>
						<p class="text-pro">
							<span></span>
							<i>下载</i>
							<a href="#">简介</a>
						</p>
					</div>
					<div class="hover-box">
						<div class="img-box"><img src="__STATIC__/images/pc/gcenter/nbalive.png" alt=""></div>
						<div class="text-pro">
							<p class="android">
								<a href="http://yuqg.onmydream.cc/dl/NBA LIVE.apk">Android下载</a>
							</p>
							<p class="ios">
								<a href="http://yuqg.onmydream.cc/dl/NBA LIVE.apk">iOS下载</a>
							</p>
							<p class="game-type">类型：竞技</p>
						</div>

					</div>
					<div class="hover2">
						22年EA主机传承，曾带给千万玩家极致真实赛事体验的NBA LIVE系列移动版正式登录中国大陆！
						EA出品全球顶级体育竞技大作《NBA LIVE Mobile》国服开测，快与好友组建战队联盟，征服来自全世界的篮球爱好者，一起打造属于自己的传奇吧！
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>

<!-- footer start -->

{include file="public/footer" /}
<style>
	.footer5{
		margin-top: 0;
	}
</style>
<!-- end footer -->

<script src="__STATIC__/js/pc/gcenter.js"></script>
</body>
</html>