<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏大厅-大神游戏</title>

    <link rel="stylesheet" href="__STATIC__/icon/pc-icon/font-icon/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__STATIC__/css/pc/ghome.css">
</head>
<body>
{include file="public/top_line" /}

<!-- top_line start -->

<!--[if lt IE 10]>
<style>
    .serch-box{margin-top: 4px;}
</style>
<![endif]-->
{include file="public/header" /}
<!-- end top_line -->
<!-- header start -->

<!-- end header -->
<!--内容部分-->
<div class="gHome-content">
    <!--首页Banner效果-->
        <div class="gHome-banner">
            <div class="swiper-container" id="swiper-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background:url(__STATIC__/images/pc/index/ghome-banner1.jpg) no-repeat center;"></div>
                    <div class="swiper-slide" style="background:url(__STATIC__/images/pc/index/ghome-banner1.jpg) no-repeat center;"></div>
                    <div class="swiper-slide" style="background:url(__STATIC__/images/pc/index/ghome-banner1.jpg) no-repeat center;"></div>
                    <div class="swiper-slide" style="background:url(__STATIC__/images/pc/index/ghome-banner1.jpg) no-repeat center;"></div>
                    <div class="swiper-slide" style="background:url(__STATIC__/images/pc/index/ghome-banner1.jpg) no-repeat center;"></div>

                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    <div class="mid">
        <!--推荐手游  推荐3款手游-->
        <div class="recommend-game">
            <div class="tit"><span class="bt">推荐手游</span></div>
            <ul class="game-box">
                <li class="game-pro">
                    <div class="top">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game1.jpg" alt=""></div>
                    </div>
                    <div class="bottom">
                        <p class="game-name">长生诀</p>
                        <p class="text-pro">
                            <span>执手绾青丝 结发共长生</span>
                            <i> <a href="http://yuqg.onmydream.cc/dl/最强NBA.apk">下载</a></i>
                            <a href="javascript:;">简介</a>
                        </p>
                    </div>
                    <div class="hover-box">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                        <div class="text-pro">
                            <p>扫描下载</p>
                            <p class="game-type">类型:竞技</p>
                            <p class="weight">大小:<i>700M</i></p>
                            <p class="gifts"><a href="#">[领取礼包]</a></p>
                        </div>

                    </div>
                    <div class="hover2">
                        《最强NBA》是第一款获得NBA正版授权的PVP竞技动作操作类篮球手游，
                        内有豪华NBA球星阵容，真实细腻画面和热血实况对战场景，是所有篮球迷的必玩大作！游戏内高度还原NBA球星面貌，
                        并拥有超过700位NBA现役球员及超过30位NBA名人堂传奇球星竞技数据，参考真实球员能力数值，打造独特专属的技能系统。
                    </div>

                </li>
                <li class="game-pro">
                    <div class="top">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game1.jpg" alt=""></div>
                    </div>
                    <div class="bottom">
                        <p class="game-name">长生诀</p>
                        <p class="text-pro">
                            <span>执手绾青丝 结发共长生</span>
                            <i> <a href="http://yuqg.onmydream.cc/dl/最强NBA.apk">下载</a></i>
                            <a href="#">简介</a>
                        </p>
                    </div>
                    <div class="hover-box">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                        <div class="text-pro">
                            <p>扫描下载</p>
                            <p class="game-type">类型:竞技</p>
                            <p class="weight">大小:<i>700M</i></p>
                            <p class="gifts"><a href="#">[领取礼包]</a></p>
                        </div>

                    </div>
                    <div class="hover2">
                        《最强NBA》是第一款获得NBA正版授权的PVP竞技动作操作类篮球手游，
                        内有豪华NBA球星阵容，真实细腻画面和热血实况对战场景，是所有篮球迷的必玩大作！游戏内高度还原NBA球星面貌，
                        并拥有超过700位NBA现役球员及超过30位NBA名人堂传奇球星竞技数据，参考真实球员能力数值，打造独特专属的技能系统。
                    </div>

                </li>
                <li class="game-pro">
                    <div class="top">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game1.jpg" alt=""></div>
                    </div>
                    <div class="bottom">
                        <p class="game-name">长生诀</p>
                        <p class="text-pro">
                            <span>执手绾青丝 结发共长生</span>
                            <i> <a href="http://yuqg.onmydream.cc/dl/最强NBA.apk">下载</a></i>
                            <a href="#">简介</a>
                        </p>
                    </div>
                    <div class="hover-box">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                        <div class="text-pro">
                            <p>扫描下载</p>
                            <p class="game-type">类型:竞技</p>
                            <p class="weight">大小:<i>700M</i></p>
                            <p class="gifts"><a href="#">[领取礼包]</a></p>
                        </div>

                    </div>
                    <div class="hover2">
                        《最强NBA》是第一款获得NBA正版授权的PVP竞技动作操作类篮球手游，
                        内有豪华NBA球星阵容，真实细腻画面和热血实况对战场景，是所有篮球迷的必玩大作！游戏内高度还原NBA球星面貌，
                        并拥有超过700位NBA现役球员及超过30位NBA名人堂传奇球星竞技数据，参考真实球员能力数值，打造独特专属的技能系统。
                    </div>

                </li>
            </ul>
        </div>

        <!--热门手游 新闻资讯-->
        <div class="gameAndNews leftAndRight">
            {include file="public/hot-game" /}
            <div class="game-news">
                <div class="tit"><span class="bt">新闻资讯</span> <a href="{:url('pc/newcenter')}" class=" float-r"></a></div>
                <ul class="news-box">
                    <!--首条新闻不一样，读标题个副标题-->
                    <li class="news-list  dif">
                        <a href="#">
                        <div class="news-tit">呆萌兵哥哥等你来撩</div>  <!--标题-->
                        <div class="news-tit2">【永恒纪元代言人】幽默俏皮的兵哥哥，这次来的是一位热血汉子！</div>  <!--副标题  读最多46个字符，超出后省略号-->
                        </a>
                    </li>
                    <li class="news-list "><i class="iconfont icon-lingxing"></i><a href="{:url('pc/newdetail')}">【新闻公告】寒刀新服公告</a><span class="time float-r">07-01</span></li>
                    <li class="news-list "><i class="iconfont icon-lingxing"></i><a href="{:url('pc/newdetail')}">【新闻公告】寒刀新服公告</a><span class="time float-r">07-01</span></li>
                    <li class="news-list "><i class="iconfont icon-lingxing"></i><a href="{:url('pc/newdetail')}">【新闻公告】寒刀新服公告</a><span class="time float-r">07-01</span></li>
                    <li class="news-list "><i class="iconfont icon-lingxing"></i><a href="{:url('pc/newdetail')}">【新闻公告】寒刀新服公告</a><span class="time float-r">07-01</span></li>
                    <li class="news-list "><i class="iconfont icon-lingxing"></i><a href="{:url('pc/newdetail')}">【新闻公告】寒刀新服公告</a><span class="time float-r">07-01</span></li>
                    <li class="news-list "><i class="iconfont icon-lingxing"></i><a href="{:url('pc/newdetail')}">【新闻公告】寒刀新服公告</a><span class="time float-r">07-01</span></li>
                  </ul>
            </div>
        </div>
        <!--火爆活动 开服列表-->
        <div class="sportAndService leftAndRight">
            <div class="game-sport">
                <div class="tit"><span class="bt">火爆活动</span>
                    <!--点击下面跳转到新闻中心的活动列表页面里-->
                    <a href="{:url('pc/newcenter')}" class=" float-r"></a>
                </div>
                <!--读推荐的三款活动-->
                <!--点击下面跳转到新闻中心的活动详情页面里-->
                <div class="all-sport">
                    <a href="{:url('pc/newcenter')}" class="sport sport1">  <img src="__STATIC__/images/pc/index/sport-img1.jpg" alt=""></a>
                    <a  href="{:url('pc/newcenter')}" class="sport sport2">  <img src="__STATIC__/images/pc/index/sport-img2.jpg" alt=""></a>
                    <a  href="{:url('pc/newcenter')}" class="sport sport3"> <img src="__STATIC__/images/pc/index/sport-img3.jpg" alt=""></a>
                </div>
            </div>

            <!--开服列表-->
            {include file="public/new-service" /}
        </div>

        <!--游戏礼包 快捷通道-->
        <div class="giftsAndFastWays leftAndRight">
            <div class="game-gifts">
                <div class="tit"><span class="bt">游戏礼包</span><a href="{:url('pc/gifts')}" class=" float-r"></a></div>
                <ul class="all-gifts">
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                    <div class="words-box">
                        <div class="top">
                            <div class="normal active">
                                <p class="gift-name">精英修炼礼包</p>
                                <p class="game-name">长生诀</p>
                            </div>
                            <div class="hover">
                                <p class="gift-name">精英修炼礼包</p>
                                <p class="game-name">剩余:<i>9999/9999</i></p>
                            </div>
                        </div>
                        <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                    </div>
                </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                    <li class="gifts-list">
                        <div class="img-box"><img src="__STATIC__/images/pc/index/game-giftimg.jpg" alt=""></div>
                        <div class="words-box">
                            <div class="top">
                                <div class="normal active">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">长生诀</p>
                                </div>
                                <div class="hover">
                                    <p class="gift-name">精英修炼礼包</p>
                                    <p class="game-name">剩余:<i>9999/9999</i></p>
                                </div>
                            </div>
                            <a class="git-btn" href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i><span>领取</span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--快捷通道-->
            <div class="fast-ways">
                <div class="tit"><span class="bt">快捷通道</span></div>
                <div class="all-ways">
                    <div class="left">
                        <div class="online-kefu">
                            <a href="{:url('pc/giftsdetail')}">
                            <p class="online-kefuicon iconfont icon-kefu1 "></p>
                            <p>在线客服</p>
                            </a>
                        </div>
                        <div class="phone-kefu">
                            <p class="phone-kefuicon iconfont icon-dianhua "></p>
                            <p class="phone">028-67875837</p>
                            <p>客服热线</p>
                        </div>
                    </div>
                    <ul class="right">
                        <li class="list">
                            <p class="icon iconfont icon-iconfonticonfontweibo"></p>
                            <p class="name">新浪微博</p>
                            <div class="img-code"><img src="__STATIC__/images/pc/index/weibo-code.jpg" alt=""></div>
                        </li>
                        <li class="list">
                            <p class="icon iconfont icon-0023"></p>
                            <p class="name">微信公众号</p>
                            <div class="img-code"><img src="__STATIC__/images/pc/index/weixin-code.jpg" alt=""></div>
                        </li>
                        <li class="list">
                            <a href="{:url('pc/giftsdetail')}">
                                <p class="icon iconfont icon-pingjia"></p>
                                <p class="name">免费注册</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="{:url('pc/usersafe')}">
                                <p class="icon iconfont icon-shouji2"></p>
                                <p class="name">绑定手机</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="javascript:;" title="暂未开通">
                                <p class="icon iconfont icon-resource2-copy"></p>
                                <p class="name">被盗申述</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="{:url('pc/usersafe')}">
                                <p class="icon iconfont icon-m-loginEmail"></p>
                                <p class="name">绑定邮箱</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="{:url('pc/cs_query')}">
                                <p class="icon iconfont icon-anquandunpai"></p>
                                <p class="name">找回密码</p>
                            </a>
                        </li>
                        <li class="list">
                            <a href="{:url('pc/giftsdetail')}">
                                <p class="icon iconfont icon-meiyuan"></p>
                                <p class="name">充值中心</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--友情链接-->
        <div class="friend-link">
            <div class="tit"><span class="bt">友情链接</span></div>
            <div class="all-link">
                <a class="link-list" href="#">17173</a>
                <a class="link-list" href="#">大神页游</a>
            </div>
        </div>



    </div>
</div>

<!-- footer start -->

{include file="public/footer" /}
<!-- end footer -->

<script src="__STATIC__/lib/swiper-3.4.2.jquery.min.js"></script>
<script src="__STATIC__/js/pc/ghome.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        slidesPerView:1,
        loopedSlides:5,
        loop:true,
        autoplay:5000,
        speed:1000,
        paginationClickable :true,
        autoplayDisableOnInteraction:false,     // 用户操作后是否禁用autoplay
        effect : 'fade',

        // 如果需要分页器
        pagination: '.swiper-pagination'

    })
</script>

</body>
</html>