<link rel="stylesheet" href="__STATIC__/css/wap/footer.css">
<div id="footer">
	<ul class="clearfix">
		<li><a href="">页游平台</a></li>
		<li><a href="">手游平台</a></li>
	</ul>
	<p>四川大神时代网络科技有限公司</p>
	<p>028-67875837</p>
	<p>CopyRight &copy; 2017 四川大神时代网络科技有限公司. All Right Reserved</p>
</div>
<ul id="footer-nav" class="clearfix">
	<li class="on"><a href="{:url('index/index')}"><i class="iconfont icon-home"></i><br>首页</a></li>
	<li><a href="{:url('gcenter/index')}"><i class="iconfont icon-game"></i><br>游戏</a></li>
	<li><a href=""><i class="iconfont icon-libao"></i><br>礼包</a></li>
	<li><a href=""><i class="iconfont icon-user2"></i><br>我的</a></li>
</ul>