<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻中心-大神游戏</title>
    <link rel="stylesheet" href="__STATIC__/icon/pc-icon/font-icon/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__STATIC__/css/pc/newcenter.css">

    <style>

    </style>
</head>
<body>
{include file="public/top_line" /}

<!-- top_line start -->

<!--[if lt IE 10]>
<style>
    .serch-box{margin-top: 4px;}
</style>
<![endif]-->
{include file="public/header" /}
<!-- end top_line -->
<!-- header start -->

<!-- end header -->
<!--内容部分-->
<div class="gHome-content">
    <!--新闻中心头部-->
    {include file="public/news-topline" /}

    <div class="mid">
        <!--新闻中心 开服列表-->
        <div class="sportAndService leftAndRight">
            <!--新闻详情-->
            <div class="news-detail">
                <div class="top"><span class="news-style style1">公告</span><i class="time">2017-09-01 11:50:22</i></div>
                <div class="middle">8月30日永恒领主日竞技各服冠军名单</div>
                <div class="bottom">赤月传说2婚戒不仅是爱情的体现，还能为玩家带来职业攻击以及生命加成</div>

                <!--编辑的新闻放到以下盒子里-->
                <div class="news-content">
                        asdasda阿萨德AAS爱上 <br>
                        asdasda阿萨德AAS爱上 <br>
                        asdasda阿萨德AAS爱上 <br>
                        asdasda阿萨德AAS爱上 <br>
                        asdasda阿萨德AAS爱上 <br>
                        asdasda阿萨德AAS爱上 <br>
                        asdasda阿萨德AAS爱上 <br>
                </div>
            </div>

            <!--开服列表-->
            {include file="public/new-service" /}
        </div>
    </div>
</div>

<!-- footer start -->

{include file="public/footer" /}
<!-- end footer -->

<script src="__STATIC__/lib/swiper-3.4.2.jquery.min.js"></script>
<script src="__STATIC__/js/pc/ghome.js"></script>
</body>
</html>