<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>礼包中心-大神游戏</title>

    <link rel="stylesheet" href="__STATIC__/icon/pc-icon/font-icon/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__STATIC__/css/pc/gifts.css">
</head>
<body>
{include file="public/top_line" /}

<!-- top_line start -->

<!--[if lt IE 10]>
<style>
    .serch-box{margin-top: 4px;}
</style>
<![endif]-->
{include file="public/header" /}
<!-- end top_line -->
<!-- header start -->

<!-- end header -->
<!--内容部分-->
<div class="content">
    <div class="mid">
        <!--顶部第一板块-->
        <div class="gifts-topbox">
            <div class="top-leftbox">
                <div class="giftsbanner-box">
                    <div class="img-box">
                        <img src="__STATIC__/images/pc/gifts/gifts-banner1.jpg" alt="">
                        <div class="gifts-name">豪华礼包</div>
                        <div class="hover-box">
                            <div class="words-box">
                                <p class="name">豪华礼包</p>
                                <p class="get-giftbag"><a href="{:url('pc/giftsdetail')}">领取礼包</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/gifts-banner2.jpg" alt="">
                        <div class="gifts-name">开服礼包</div>
                        <div class="hover-box">
                            <div class="words-box">
                                <p class="name">开服礼包</p>
                                <p class="get-giftbag"><a href="{:url('pc/giftsdetail')}">领取礼包</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/gifts-banner3.jpg" alt="">
                        <div class="gifts-name">新手礼包</div>
                        <div class="hover-box">
                            <div class="words-box">
                                <p class="name">新手礼包</p>
                                <p class="get-giftbag"><a href="{:url('pc/giftsdetail')}">领取礼包</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/gifts-banner4.jpg" alt="">
                        <div class="gifts-name">装备强化定制礼包</div>
                        <div class="hover-box">
                            <div class="words-box">
                                <p class="name">装备强化定制礼包</p>
                                <p class="get-giftbag"><a href="{:url('pc/giftsdetail')}">领取礼包</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--热门礼包  读8款热门礼包-->
                {include file="public/hot-giftbag" /}
            </div>


            {include file="public/allgifts-pick" /}
            <!--大家都在抢   读7款抢手礼包消息-->

        </div>

        <!--全部游戏礼包 每页18个礼包-->
        <div class="all-giftsbag">
            <div class="tit"><span>游戏礼包</span></div>
             <ul class="all-gifts">
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>

                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                <li class="bag-list">
                    <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                    <div class="bag-pro">
                        <p class="p1">国庆礼包</p>
                        <p class="p2">天堂荣耀</p>
                        <p class="p3"><i>2000</i>/<i>2000</i></p>
                        <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                    </div>
                </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>

                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
                 <li class="bag-list">
                     <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
                     <div class="bag-pro">
                         <p class="p1">国庆礼包</p>
                         <p class="p2">天堂荣耀</p>
                         <p class="p3"><i>2000</i>/<i>2000</i></p>
                         <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
                     </div>
                 </li>
             </ul>
            <!--加个分页器-->
            <div class="page">1 2 3 </div>
        </div>
    </div>
</div>


<!-- footer start -->

{include file="public/footer" /}
<!-- end footer -->

<script src="__STATIC__/lib/swiper-3.4.2.jquery.min.js"></script>
<script src="__STATIC__/js/pc/ghome.js"></script>
<script>

</script>

</body>
</html>