<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<title>首页 - 大神游戏</title>
	<meta name="keywords" content="大神游戏,大神手游">
	<meta name="description" content="大神游戏,大神手游平台">
	<link rel="stylesheet" href="__STATIC__/css/wap/init.css">
	<link rel="stylesheet" href="__STATIC__/css/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="__STATIC__/css/wap/shouyou.css">
	<!--<link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="__STATIC__/icon/sy-icon/iconfont.css">
</head>
<body>
<div id="container">
	{include file="publics/header" /}
	<!-- banner start -->
	<div id="home-banner">
		<div class="swiper-container top-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
				<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
				<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
				<div class="swiper-slide"><a href=""><img src="__STATIC__/images/wap/gcenter/banner-test.jpg" alt=""></a></div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!-- end banner -->
	<!-- news start -->
	<div id="home-news">
		<span>【新闻公告】</span>
		<div class="swiper-container home-news-swiper">
			<ul class="swiper-wrapper">
				<li class="swiper-slide"><a href="">一首《长生诀》，读尽他们的前世今生读尽他们的前世今生...</a></li>
				<li class="swiper-slide"><a href="">读尽他们的前世今生读尽他们的前世今生...</a></li>
				<li class="swiper-slide"><a href="">一首《长生诀》，读尽他们的前世今生读尽他们的前世今生...</a></li>
				<li class="swiper-slide"><a href="">一首《长生诀》，读尽他们...</a></li>
				<li class="swiper-slide"><a href="">一首《长生诀》，读尽他们的前世今生读尽他们的前世今生...</a></li>
				<li class="swiper-slide"><a href="">一首《长生诀》，读尽他们的前世今生读尽他们的前世今生...</a></li>
			</ul>
		</div>
		<a href="">更多></a>
	</div>
	<!-- end news -->
	<!-- tabs-group start -->
	<div id="tabs-group">
		<ul>
			<li><a href="{:url('gcenter/index')}"><i class="iconfont icon-game1"></i><br>游戏</a></li>
			<li><a href="{:url('gcenter/index')}"><i class="iconfont icon-gift2"></i><br>礼包</a></li>
			<li><a href="{:url('gcenter/index')}"><i class="iconfont icon-diamond"></i><br>活动</a></li>
			<li><a href="{:url('gcenter/index')}"><i class="iconfont icon-gonglve"></i><br>攻略</a></li>
		</ul>
	</div>
	<!-- end tabs-group -->
	<!-- 今日推荐 start -->
	<div id="today-top">
		<img class="bg" src="__STATIC__/images/wap/index/today20171215.jpg" alt="">
		<p class="common-title"><i class="iconfont icon-huangguan"></i>今日推荐<a href="">更多游戏&gt;</a></p>
	</div>
	<!-- end 今日推荐 -->
	<!-- 礼包 start -->
	<div id="package">
		<a href=""><img src="__STATIC__/images/wap/index/ad20171215.jpg" alt=""></a>
		<p class="common-title"><i class="iconfont icon-gift1"></i>热门礼包<a href="">更多礼包&gt;</a></p>
		<div id="package-list">
			<div class="package-list swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							<p class="name">永恒纪元抢卡福利礼包礼包</p>
							<p class="num">剩余:<span>12345</span></p>
							<span>领取礼包</span>
						</a>
					</div>
				</div>
				<div class="swiper-pagination package-pagination"></div>
			</div>
		</div>
	</div>
	<!-- end 礼包 -->
	<!-- 热门手游 start -->
	<div id="home-hot">
		<p class="common-title"><i class="iconfont icon-fire"></i>热门手游<a href="">更多游戏&gt;</a></p>
		<div class="home-hot">
			<div class="game-list-common swiper-container home-hot-swiper">
				<ul class="hot-gList swiper-wrapper">
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
					<li class="swiper-slide">
						<a class="enter-detail" href="http://www.baidu.com">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
								<p><span>热</span></p>
							</div>
							<i class="iconfont icon-gift1"></i>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
						</a>
						<a class="download-btn" href="http://www.jd.com">下载</a>
					</li>
				</ul>
				<div class="swiper-pagination package-pagination"></div>
			</div>
		</div>
	</div>
	<!-- end 热门手游 -->
	<!-- 排行、开服 按钮 start -->
	<ul id="roTabs">
		<li class="on">开服表</li>
		<li>热游榜</li>
	</ul>
	<!-- end 排行、开服 按钮 -->
	<div id="open-rand">
		<!-- 开服表 start -->
		<div id="open-list">
			<table>
				<thead>
					<tr>
						<th>开服名称</th>
						<th>开服时间</th>
						<th>区服</th>
						<th>礼包</th>
						<th>下载</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>王者传奇</td>
						<td>11-30</td>
						<td>王者652区</td>
						<td><a href="" class="iconfont icon-gift1"></a></td>
						<td><a href="" class="iconfont icon-download"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- end 开服表 -->
		<!-- 排行 start -->
		<div id="rank" style="display:none;">
			<div class="hotRank">
				<img class="bg" src="__STATIC__/images/wap/gcenter/rank201712.jpg" alt="">
				<p>游戏星榜</p>
				<p>12月3日更新</p>
				<!-- 第一名 -->
				<div class="first">
					<img src="__STATIC__/images/wap/gcenter/first.png" alt="">
					<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
					<p class="tit">大话西游</p>
					<p>1.5亿人下载</p>
					<a href="">下载</a>
				</div>
				<!-- 第二名 -->
				<div class="second">
					<img src="__STATIC__/images/wap/gcenter/second.png" alt="">
					<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
					<p class="tit">大话西游</p>
					<p>1.5亿人下载</p>
					<a href="">下载</a>
				</div>
				<!-- 第三名 -->
				<div class="third">
					<img src="__STATIC__/images/wap/gcenter/third.png" alt="">
					<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
					<p class="tit">大话西游</p>
					<p>1.5亿人下载</p>
					<a href="">下载</a>
				</div>
			</div>
			<div class="game-list-common">
				<ul>
					<li>
						<i>4</i>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
							<p class="download-btn">下载</p>
						</a>
					</li>
					<li>
						<i>5</i>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
							<p class="download-btn">下载</p>
						</a>
					</li>
					<li>
						<i>6</i>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">益智</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
							<p class="download-btn">下载</p>
						</a>
					</li>
					<li>
						<i>7</i>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
							<p class="download-btn">下载</p>
						</a>
					</li>
					<li>
						<i>8</i>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　1万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
							<p class="download-btn">下载</p>
						</a>
					</li>
					<li>
						<i>9</i>
						<a class="enter-detail" href="">
							<div class="g-logo">
								<img src="__STATIC__/images/wap/gcenter/g-icon-test.jpg" alt="">
							</div>
							<div class="desc">
								<p class="title">长生诀</p>
								<p class="icon">
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="active iconfont icon-star"></i>
									<i class="iconfont icon-star"></i>
								</p>
								<p class="num">942.4M　2万次下载</p>
								<p class="desc-text">唯美国风MMO《长生诀》你想要的 都将实现</p>
							</div>
							<p class="download-btn">下载</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end 排行 -->
	</div>
	{include file="publics/footer" /}
</div>
</body>
<script src="__STATIC__/js/wap/mb.init.js"></script>
<script src="__STATIC__/lib/jquery-2.0.0.min.js"></script>
<script src="__STATIC__/lib/swiper-3.4.2.jquery.min.js"></script>
<script>
	// -- banner
	var tuiBanner = new Swiper ('.top-swiper', {
		autoplay:3000,
		speed:1000,
		autoplayDisableOnInteraction : false,		// -- 用户操作后继续播放
		loop: true,
		
		// 分页器
		pagination: '.swiper-pagination',
		paginationClickable :true,
	});
	// -- 新闻
	var newSwiper = new Swiper ('.home-news-swiper', {
		direction:"vertical",
		autoplay:3000,
		speed:500,
		loop: true,
		autoplayDisableOnInteraction : false,
	});
	// -- 礼包
	var packageList = new Swiper('.package-list',{
		//autoplay:3000,
		speed:1000,
		slidesPerView:2,
		slidesPerColumn : 2,
		slidesPerGroup:2,
		autoplayDisableOnInteraction : false,
		pagination: '.package-pagination',
		paginationClickable :true,
	});
	// -- 礼包
	var homeHot = new Swiper('.home-hot-swiper',{
		//autoplay:3000,
		speed:1000,
		slidesPerColumn : 5,
		slidesPerGroup:1,
		autoplayDisableOnInteraction : false,
		pagination: '.package-pagination',
		paginationClickable :true,
	});
	
	var aRoTab = $("#roTabs li"),
		aCont = $("#open-rand > div");
		aRoTab.click(function () {
			var index = $(this).index();
			$(this).addClass("on").siblings().removeClass("on");
			aCont.eq(index).show().siblings().hide();
		});
</script>
</html>