<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
</head>
<body>
<!--顶部-->
{include file="public/top_line"}

{include file="public/header"}

<div class="ac_contentox">

    {include file="public/ac_userinform"}
    <div class="ac_textbox">

        {include file="public/ac_leftnav"}

        <!--右侧内容-->
        <div class="ac_rightnav">
            <!--账号安全设置-->
            <div class="ac_giftcenter">
                <p class="tit">礼包中心</p>

                <p class="p2">礼包中心/<span>历史记录</span></p>

                <!--领取过的礼包记录-->
                <div class="all-gift">
                    <ul class="gift-box">
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                        <li class="gift-list">
                            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
                            <div class="words-box">
                                <p class="name">苍穹剑诀 【苍穹】黄金礼包</p>
                                <p class="nub">卡号:<span>t7afqn9uuf</span></p>
                                <p class="get-time">领取时间：2017-12-05 15：00</p>
                            </div>
                            <div class="gift-cont">
                                <span>【礼包内容】绑定元宝*100，装备强化石*25，2倍经验书*1，被动技能书礼盒*2</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{include file="public/footer"}
<script src="__STATIC__/js/pc/bootstrap-datetimepicker.min.js"></script>
<script src="__STATIC__/js/pc/ac_account2.js"></script>
</body>
</html>