<link rel="stylesheet" href="__STATIC__/css/pc/allgifts-pick.css">
<!--大家都在抢   读7款抢手礼包消息-->
<div class="top-rightbox">
    <div class="tit"><span>大家都在抢</span></div>
    <ul class="all-rob">
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
        <li class="rob-list">
            <div class="img-box">
                <img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt="">
            </div>
            <div class="cont">
                <span><i>adadas882121111111111111111111111</i> <i>刚刚领取了<br></i><i>回赠礼包</i></span>
            </div>
            <a href="{:url('pc/giftsdetail')}">抢</a>
        </li>
    </ul>
</div>