<link rel="stylesheet" href="__STATIC__/icon/pc-icon/font-icon/iconfont.css">
<link rel="stylesheet" href="__STATIC__/css/pc/hot-game.css">
<!--热门手游 -->
<div class="hot-game">
    <div class="tit"><span class="bt">热门手游</span>
        <i class="iconfont icon-re-copy"><em >火热</em></i> <i class="iconfont icon-zuixin"><em >最新</em> </i><i class=" iconfont icon-dongtaiyanfa"><em>自研</em></i>
        <a href="{:url('pc/gcenter')}" class=" float-r"></a>
    </div>
    <!--读9个热门手游-->
    <ul class="hGame-box">
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-dongtaiyanfa"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-zuixin"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>
        <li class="game-list">
            <div class="img-box"><img src="__STATIC__/images/pc/index/game-icon.jpg" alt=""></div>
            <div class="words">
                <p class="game-name"><span>大天使之剑H5</span><i class="iconfont icon-re-copy"></i></p>
                <p class="game-pro"><span class="type">角色</span> <span class="big">150M</span><span class="down-nub"><i>16</i>万次下载</span></p>
                <p class="game-banben"><span>版本：</span><a href="#" class="iconfont icon-anzhuo"></a><a href="#" class="iconfont icon-pingguo"></a></p>
            </div>
            <div class="hover-box">
                <div class="img-box"><img src="__STATIC__/images/pc/gcenter/mobilePf-pcRoomgamecode.jpg" alt=""></div>
                <div class="text-pro">
                    <p class="android">
                        <a href="#">Android下载</a>
                    </p>
                    <p class="ios">
                        <a href="#">iOS下载</a>
                    </p>
                    <p class="game-other"><a class="pro" href="javascript:;">简介</a><a href="{:url('pc/giftsdetail')}">礼包</a></p>
                </div>

            </div>
            <div class="hover-pro">
                <p>
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                    萨嘎大概阿达时光飞逝当阿达三国杀改大神公司大干啥的公司大古代诗歌ad三国
                </p>

            </div>
        </li>

    </ul>
</div>