<link rel="stylesheet" href="__STATIC__/css/pc/hot-giftbag.css">
<div class="hot-giftbag">
    <div class="tit"><span>热门礼包</span></div>
    <ul class="hotbag-box">
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
        <li class="bag-list">
            <div class="img-box"><img src="__STATIC__/images/pc/gifts/game-giftimg.jpg" alt=""></div>
            <div class="bag-pro">
                <p class="p1">国庆礼包</p>
                <p class="p2">天堂荣耀</p>
                <p class="p3"><i>2000</i>/<i>2000</i></p>
                <p class="p4"><a href="{:url('pc/giftsdetail')}"><i class="iconfont icon-liwu1"></i>领取</a></p>
            </div>
        </li>
    </ul>
</div>