<link rel="stylesheet" href="__STATIC__/icon/pc-icon/font-icon/iconfont.css">
<link rel="stylesheet" href="__STATIC__/css/pc/new-service.css">
<div class="new-service">
    <div class="tit"><span class="bt">开服列表</span></div>
    <!--新服列表，每页9个，最多3页-->
    <div class="all-service">
        <!--表头-->
        <div class="service-tit">
            <span class="name">游戏</span>
            <span class="time">时间</span>
            <span class="room">区服</span>
            <span class="download">下载</span>
        </div>
        <!--区服详情-->
        <ul class="service-box">
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
            <li class="service-list">
                <span class="name">王者传奇</span>
                <span class="time">11-30</span>
                <span class="room">传奇456</span>
                            <span class="download">
                                <a class="android iconfont icon-xiazaianniu" href="#"></a>
                                <a class="ios iconfont icon-xiazaianniu" href="#"></a>
                            </span>
            </li>
        </ul>

        <!--放分页器-->
        <div class="page" >1/3 < ></div>
    </div>

</div>